<div class="slide-front">
  <header id="header" class="">
    <h1 class="bg-0 text-top">Идеальное место для вашего события</h1>
    <h2 class="bg-0 text-top-small">«SamaraPlaces» — сервис, где люди находят нужные им площадки,<br>а площадки находят творческое применение.</h2>
  </header>
</div>
<div class="clear"></div>
<div class="content">
  <div class="left-bar">
    <ul class="menu-left">
      <li><h2 class="-bold">Параметры для поиска</h2></li>
      <li><h2 class="-bold">Цена за час</h2></li>
      <li class="price">До 1000 руб.</li>
      <li class="price">От 1000 до 3000 руб.</li>
      <li class="price">От 3000 руб.</li>
      <li class="price"></li>
    </ul>
    <ul class="menu-left">
      <li><h2 class="-bold">Тип проводимого события</h2></li>
      <% @events.each do |event| %>
          <% if event.id == params[:id].to_i %>
              <li class="price"><%= link_to event.name, event_path(event), class: :yellow %></li>
          <% else %>
              <li class="price"><%= link_to event.name, event_path(event) %></li>
          <% end %>
      <% end %>
    </ul>
    <ul class="menu-left">
      <li><h2 class="-bold">Оснащенность</h2></li>
      <% @facilities.each do |facility| %>
          <li class="price"><%= link_to facility.name, facility_path(facility) %></li>
      <% end %>
    </ul>
    <ul class="menu-left bg-0">
      <li><h2 class="-bold">Количество участников</h2></li>
      <li class="price">До 10 человек</li>
      <li class="price">От 10 до 20 человек</li>
      <li class="price">От 20 до 50 человек</li>
      <li class="price">От 50 до 100 человек</li>
      <li class="price">Больше 100 человек</li>
    </ul>
  </div>
  <div class="right-bar">
    <h2 class="bg-0 -bold">Мы подобрали для вас места, где можно провести события разного формата</h2>
    <% i = 0 %>
    <% @places.each do |place| %>
        <%
           image = (place.images.first) ? image_path(place.images.first.path) : 'http://placehold.it/330x330'
        %>
        <% i += 1 %>
        <% if i % 2 == 1 %>
            <div class="blocks-it"><img src="<%= image %>" alt=""><span class="price-block"><span class="p"><%= place.price_per_hour.to_i.to_s.gsub(/(\d)(?=(\d\d\d)+(?!\d))/, "\\1 ") %></span><br><span class="p-m"> pуб. / час </span></span><h1 class="bot-title"><%= link_to place.name, place_path(place) %></h1><p class="icon-map"><%= place.address %></p></div>
        <% else %>
            <div class="blocks-it -end"><img src="<%= image %>" alt=""><span class="price-block"><span class="p"><%= place.price_per_hour.to_i.to_s.gsub(/(\d)(?=(\d\d\d)+(?!\d))/, "\\1 ") %></span><br><span class="p-m"> pуб. / час </span></span><h1 class="bot-title"><%= link_to place.name, place_path(place) %></h1><p class="icon-map"><%= place.address %></p></div>
        <% end %>
    <% end %>
  </div>
</div>